*.prg
*.prg.debug.xml
*.iq
*_contributions.json

*.swp
*/_build
*/build

.west
bootloader
build
modules
zephyr

*.[bs]#?
*.dri
*.gbl
*.g2l
*.g3l
*.gbo
*.gbs
*.gko
*.gpi
*.gtl
*.gto
*.gts
*.xln
*.creamtop
*.creambot
*.zip
