/dts-v1/;
#include <nordic/nrf52832_qfaa.dtsi>
#include <dt-bindings/input/input-event-codes.h>

/ {
	model = "Spotlight";
	compatible = "balto,spotlight";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";
		led_green {
			gpios = <&gpio0 27 GPIO_ACTIVE_LOW>;
		};
	};

	pwmleds {
		compatible = "pwm-leds";
		led_pwm_0 {
			pwms = <&pwm0 0 PWM_HZ(250) PWM_POLARITY_NORMAL>;
		};
		led_pwm_1 {
			pwms = <&pwm0 1 PWM_HZ(250) PWM_POLARITY_NORMAL>;
		};
		led_pwm_2 {
			pwms = <&pwm0 2 PWM_HZ(250) PWM_POLARITY_NORMAL>;
		};
	};

	buttons: buttons {
		compatible = "zephyr,gpio-keys";
		wkup: sw_0 {
			gpios = <&gpio0 14 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_0>;
		};
	};

	longpress: longpress {
		input = <&buttons>;
		compatible = "zephyr,input-longpress";
		input-codes = <INPUT_KEY_0>;
		short-codes = <INPUT_KEY_A>;
		long-codes = <INPUT_KEY_B>;
		long-delay-ms = <1000>;
	};

};

&pinctrl {
	pwm0_default: pwm0_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 12)>,
				<NRF_PSEL(PWM_OUT1, 0, 19)>,
				<NRF_PSEL(PWM_OUT2, 0, 22)>;
		};
	};

	pwm0_sleep: pwm0_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 12)>,
				<NRF_PSEL(PWM_OUT1, 0, 19)>,
				<NRF_PSEL(PWM_OUT2, 0, 22)>;
			low-power-enable;
		};
	};

	i2c0_default: i2c0_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 7)>,
				<NRF_PSEL(TWIM_SCL, 0, 8)>;
		};
	};

	i2c0_sleep: i2c0_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 7)>,
				<NRF_PSEL(TWIM_SCL, 0, 8)>;
			low-power-enable;
		};
	};
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-1 = <&pwm0_sleep>;
	pinctrl-names = "default", "sleep";
};

&i2c0 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";

	max17055@36 {
		compatible = "maxim,max17055";
		reg = <0x36>;
		design-capacity = <1250>;
		design-voltage = <4200>;
		desired-voltage = <4200>;
		desired-charging-current = <500>;
		i-chg-term = <250>;
		rsense-mohms = <10>;
		v-empty = <2800>;
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0xc000>;
		};
		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000c000 0x36000>;
		};
		slot1_partition: partition@42000 {
			label = "image-1";
			reg = <0x00042000 0x36000>;
		};
		scratch_partition: partition@78000 {
			label = "image-scratch";
			reg = <0x00078000 0x4000>;
		};
		storage_partition: partition@7c000 {
			label = "storage";
			reg = <0x0007c000 0x4000>;
		};
	};
};
