/ {
	compatible = "nordic,nrf52-dk-nrf52832";

	leds {
		led_green {
			gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
		};
	};

	pwmleds {
		led_pwm_0 {
			pwms = <&pwm0 0 PWM_HZ(250) PWM_POLARITY_INVERTED>;
		};
		led_pwm_1 {
			pwms = <&pwm0 1 PWM_HZ(250) PWM_POLARITY_INVERTED>;
		};
		led_pwm_2 {
			pwms = <&pwm0 2 PWM_HZ(250) PWM_POLARITY_INVERTED>;
		};
	};

	buttons {
		sw_0 {
			gpios = <&gpio0 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
	};
};

&pwm0_default {
	group1 {
		psels = <NRF_PSEL(PWM_OUT0, 0, 18)>,
			<NRF_PSEL(PWM_OUT1, 0, 19)>,
			<NRF_PSEL(PWM_OUT2, 0, 20)>;
		nordic,invert;
	};
};

&pwm0_sleep {
	group1 {
		psels = <NRF_PSEL(PWM_OUT0, 0, 18)>,
			<NRF_PSEL(PWM_OUT1, 0, 19)>,
			<NRF_PSEL(PWM_OUT2, 0, 22)>;
	};
};

#if 0
&i2c0 {
	status = "disabled";
	max17055@36 {
		status = "disabled";
	};
};
#endif
